<h1 class="delete-confirmation"><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-frame">
    <form class="form" action="/inv/delete/:inv_id" method="POST" id="deleteForm">
        
        <label for="inv_make">Make:</label>
        <input type="text" name="inv_make" id="inv_make" readonly
        value="<%= locals.inv_make %>">

        <label for="inv_model">Model:</label>
        <input type="text" name="inv_model" id="inv_model" readonly
        value="<%= locals.inv_model %>">
        
        <label for="inv_year">Year:</label>
        <input type="number" step="1" min="1800" max="9999" name="inv_year" id="inv_year" readonly
        value="<%= locals.inv_year %>">
        
        <label for="inv_price">Price:</label>
        <input type="number" step="0.01" min="0" name="inv_price" id="inv_price" readonly
        value="<%= locals.inv_price %>">
        
        <button type="submit">Delete</button>
        <p>Confirm Deletion - The delete is permanent.</p>

        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>

    </form>
</div>
